# Project 3: Web APIs & NLP
---
**Book 1: Data Collection**<br>
Book 2: Data Cleaning & Exploratory Data Analysis<br>
Book 3: Preprocessing & Vectorization<br>
Book 4: ML Modeling<br>
Book 5: Sentiment Analysis, Conclusion & Recommendation<br>
Author: Lee Wan Xian

## Problem Statement

Our client is a firm that runs a streaming service discussion website. As part of their initiative to build an inhouse label tagging algorithm, they have tasked us to develop a machine learning (ML) classification model that tags posts to the right streaming service tag. Meanwhile, the client is also interested in users' sentiments towards famous shows. That way, they can evaluate how to improve their search and homepage recommendations for users.

## Contents:
- [Background](#Background)
- [Data Collection](#Data-Collection)

## Background

There are over 200 streaming services globally ([source](https://flixed.io/complete-list-streaming-services/)). With users having so many options in streaming services, the forum website that the client runs has become a hotspot for open discussions and sharing. The client wish to enable label tags onto posts so that users can use it to search for forum posts related to specific streaming service. Since this change is new to the firm, they have engaged us to build a ML classification model that can perform such a task.

As a team of data professionals, we will leverage on Reddit to form the training data for our model. This is because the client lacks the resources for human annotation on their own forum posts. Reddit will serve as a good substitute to the training data, given the similar nature of business, similar user demographics and the fact that there is a way to differentiate the streaming service from reddit posts.

For the purpose of this project, we will perform webscraping on the below subreddits using [Pushshift's](https://github.com/pushshift/api) API.
* `r/DisneyPlus`: https://www.reddit.com/r/DisneyPlus/
* `r/netflix`: https://www.reddit.com/r/netflix/

To add on, the client also wish to understand users' sentiments on famous shows. With a good understanding on user's sentiments, they can leverage it to improve on their search and homepage recommendations. In turn, improving users' experience with the website.

---

## Python Libraries

In [1]:
import pandas as pd
import requests
import time

## Data Collection

For this project, we will be extracting 15,000 reddit posts from each subreddit (`r/DisneyPlus` and `r/netflix`). The posts extracted were posted on September 30, 2022 11:59 PM GMT time or earlier.

In [2]:
# Function to webscrape posts from subreddit into dataframe

def reddit_to_df(reddit, runs, post_count=150, before=1664582340):
    
    url = 'https://api.pushshift.io/reddit/search/submission'
    params = {'subreddit': reddit, 'size': post_count, 'before': before}
    posts = []
    
    for i in range(runs):
        res = requests.get(url, params)
        
        if res.status_code != 200:
            print(f'ERROR: Unable to scrape from the subreddit due to HTML Status code {res.status_code}')
        else:
            reddit_sub = res.json()
            posts += reddit_sub['data']
            params['before'] = posts[-1]['created_utc']
            print(f'Batch {i+1} scraped into Dataframe, earliest created_utc in this batch: {posts[-1]["created_utc"]}')
            time.sleep(3)
            
    df = pd.DataFrame(posts)
    
    # with reference to pushshift API docs, these 5 columns should provide enough value & insights to the classification model & sentiment analysis
    return df[['subreddit','title','selftext','is_video','created_utc']]

In [3]:
# Scrape 15_000 reddit posts from DisneyPlus subreddit into dataframe

dfdisney_raw = reddit_to_df(reddit='DisneyPlus', runs=100)

Batch 1 scraped into Dataframe, earliest created_utc in this batch: 1664002270
Batch 2 scraped into Dataframe, earliest created_utc in this batch: 1663363347
Batch 3 scraped into Dataframe, earliest created_utc in this batch: 1662839944
Batch 4 scraped into Dataframe, earliest created_utc in this batch: 1662388926
Batch 5 scraped into Dataframe, earliest created_utc in this batch: 1661450795
Batch 6 scraped into Dataframe, earliest created_utc in this batch: 1660798533
Batch 7 scraped into Dataframe, earliest created_utc in this batch: 1660188020
Batch 8 scraped into Dataframe, earliest created_utc in this batch: 1659689701
Batch 9 scraped into Dataframe, earliest created_utc in this batch: 1659060446
Batch 10 scraped into Dataframe, earliest created_utc in this batch: 1658538331
Batch 11 scraped into Dataframe, earliest created_utc in this batch: 1658081126
Batch 12 scraped into Dataframe, earliest created_utc in this batch: 1657469367
Batch 13 scraped into Dataframe, earliest created_utc in this batch: 1656857522
Batch 14 scraped into Dataframe, earliest created_utc in this batch: 1656348310
Batch 15 scraped into Dataframe, earliest created_utc in this batch: 1655902997
Batch 16 scraped into Dataframe, earliest created_utc in this batch: 1655498229
Batch 17 scraped into Dataframe, earliest created_utc in this batch: 1655206979
Batch 18 scraped into Dataframe, earliest created_utc in this batch: 1654769528
Batch 19 scraped into Dataframe, earliest created_utc in this batch: 1654192409
Batch 20 scraped into Dataframe, earliest created_utc in this batch: 1653681545
Batch 21 scraped into Dataframe, earliest created_utc in this batch: 1653277459
Batch 22 scraped into Dataframe, earliest created_utc in this batch: 1652824877
Batch 23 scraped into Dataframe, earliest created_utc in this batch: 1652218774
Batch 24 scraped into Dataframe, earliest created_utc in this batch: 1651481134
Batch 25 scraped into Dataframe, earliest created_utc in this batch: 1650935826
Batch 26 scraped into Dataframe, earliest created_utc in this batch: 1650391816
Batch 27 scraped into Dataframe, earliest created_utc in this batch: 1649776016
Batch 28 scraped into Dataframe, earliest created_utc in this batch: 1649112352
Batch 29 scraped into Dataframe, earliest created_utc in this batch: 1648646599
Batch 30 scraped into Dataframe, earliest created_utc in this batch: 1648218475
Batch 31 scraped into Dataframe, earliest created_utc in this batch: 1647734460
Batch 32 scraped into Dataframe, earliest created_utc in this batch: 1647284960
Batch 33 scraped into Dataframe, earliest created_utc in this batch: 1646789920
Batch 34 scraped into Dataframe, earliest created_utc in this batch: 1646098014
Batch 35 scraped into Dataframe, earliest created_utc in this batch: 1645427848
Batch 36 scraped into Dataframe, earliest created_utc in this batch: 1644778244
Batch 37 scraped into Dataframe, earliest created_utc in this batch: 1644265871
Batch 38 scraped into Dataframe, earliest created_utc in this batch: 1643665618
Batch 39 scraped into Dataframe, earliest created_utc in this batch: 1642944293
Batch 40 scraped into Dataframe, earliest created_utc in this batch: 1642376755
Batch 41 scraped into Dataframe, earliest created_utc in this batch: 1641943868
Batch 42 scraped into Dataframe, earliest created_utc in this batch: 1641408386
Batch 43 scraped into Dataframe, earliest created_utc in this batch: 1640860046
Batch 44 scraped into Dataframe, earliest created_utc in this batch: 1640350780
Batch 45 scraped into Dataframe, earliest created_utc in this batch: 1639618589
Batch 46 scraped into Dataframe, earliest created_utc in this batch: 1638984255
Batch 47 scraped into Dataframe, earliest created_utc in this batch: 1638337500
Batch 48 scraped into Dataframe, earliest created_utc in this batch: 1637777614
Batch 49 scraped into Dataframe, earliest created_utc in this batch: 1637138385
Batch 50 scraped into Dataframe, earliest created_utc in this batch: 1636802992
Batch 51 scraped into Dataframe, earliest created_utc in this batch: 1636681242
Batch 52 scraped into Dataframe, earliest created_utc in this batch: 1636303739
Batch 53 scraped into Dataframe, earliest created_utc in this batch: 1635733292
Batch 54 scraped into Dataframe, earliest created_utc in this batch: 1634896310
Batch 55 scraped into Dataframe, earliest created_utc in this batch: 1634242870
Batch 56 scraped into Dataframe, earliest created_utc in this batch: 1633621279
Batch 57 scraped into Dataframe, earliest created_utc in this batch: 1633170814
Batch 58 scraped into Dataframe, earliest created_utc in this batch: 1632745839
Batch 59 scraped into Dataframe, earliest created_utc in this batch: 1632322364
Batch 60 scraped into Dataframe, earliest created_utc in this batch: 1631662983
Batch 61 scraped into Dataframe, earliest created_utc in this batch: 1631167134
Batch 62 scraped into Dataframe, earliest created_utc in this batch: 1630648012
Batch 63 scraped into Dataframe, earliest created_utc in this batch: 1630237313
Batch 64 scraped into Dataframe, earliest created_utc in this batch: 1629730906
Batch 65 scraped into Dataframe, earliest created_utc in this batch: 1629074798
Batch 66 scraped into Dataframe, earliest created_utc in this batch: 1628618144
Batch 67 scraped into Dataframe, earliest created_utc in this batch: 1628092797
Batch 68 scraped into Dataframe, earliest created_utc in this batch: 1627593681
Batch 69 scraped into Dataframe, earliest created_utc in this batch: 1627051613
Batch 70 scraped into Dataframe, earliest created_utc in this batch: 1626611651
Batch 71 scraped into Dataframe, earliest created_utc in this batch: 1626237862
Batch 72 scraped into Dataframe, earliest created_utc in this batch: 1625853061
Batch 73 scraped into Dataframe, earliest created_utc in this batch: 1625489706
Batch 74 scraped into Dataframe, earliest created_utc in this batch: 1625074346
Batch 75 scraped into Dataframe, earliest created_utc in this batch: 1624522132
Batch 76 scraped into Dataframe, earliest created_utc in this batch: 1624050987
Batch 77 scraped into Dataframe, earliest created_utc in this batch: 1623806950
Batch 78 scraped into Dataframe, earliest created_utc in this batch: 1623290455
Batch 79 scraped into Dataframe, earliest created_utc in this batch: 1622818788
Batch 80 scraped into Dataframe, earliest created_utc in this batch: 1622389360
Batch 81 scraped into Dataframe, earliest created_utc in this batch: 1621871158
Batch 82 scraped into Dataframe, earliest created_utc in this batch: 1621350459
Batch 83 scraped into Dataframe, earliest created_utc in this batch: 1620929830
Batch 84 scraped into Dataframe, earliest created_utc in this batch: 1620522206
Batch 85 scraped into Dataframe, earliest created_utc in this batch: 1620171313
Batch 86 scraped into Dataframe, earliest created_utc in this batch: 1619807373
Batch 87 scraped into Dataframe, earliest created_utc in this batch: 1619458753
Batch 88 scraped into Dataframe, earliest created_utc in this batch: 1619040601
Batch 89 scraped into Dataframe, earliest created_utc in this batch: 1618657109
Batch 90 scraped into Dataframe, earliest created_utc in this batch: 1617887279
Batch 91 scraped into Dataframe, earliest created_utc in this batch: 1617483880
Batch 92 scraped into Dataframe, earliest created_utc in this batch: 1617179966
Batch 93 scraped into Dataframe, earliest created_utc in this batch: 1616888666
Batch 94 scraped into Dataframe, earliest created_utc in this batch: 1615674103
Batch 95 scraped into Dataframe, earliest created_utc in this batch: 1615319140
Batch 96 scraped into Dataframe, earliest created_utc in this batch: 1614825628
Batch 97 scraped into Dataframe, earliest created_utc in this batch: 1614389593
Batch 98 scraped into Dataframe, earliest created_utc in this batch: 1614226166
Batch 99 scraped into Dataframe, earliest created_utc in this batch: 1614099533
Batch 100 scraped into Dataframe, earliest created_utc in this batch: 1614041482

In [4]:
# Scrape 15_000 reddit posts from netflix subreddit into dataframe

dfnetflix_raw = reddit_to_df(reddit='netflix', runs=100)

Batch 1 scraped into Dataframe, earliest created_utc in this batch: 1664369608
Batch 2 scraped into Dataframe, earliest created_utc in this batch: 1664179472
Batch 3 scraped into Dataframe, earliest created_utc in this batch: 1664020243
Batch 4 scraped into Dataframe, earliest created_utc in this batch: 1663788929
Batch 5 scraped into Dataframe, earliest created_utc in this batch: 1663436282
Batch 6 scraped into Dataframe, earliest created_utc in this batch: 1663171219
Batch 7 scraped into Dataframe, earliest created_utc in this batch: 1662882024
Batch 8 scraped into Dataframe, earliest created_utc in this batch: 1662741635
Batch 9 scraped into Dataframe, earliest created_utc in this batch: 1662535441
Batch 10 scraped into Dataframe, earliest created_utc in this batch: 1662207440
Batch 11 scraped into Dataframe, earliest created_utc in this batch: 1661886731
Batch 12 scraped into Dataframe, earliest created_utc in this batch: 1661617444
Batch 13 scraped into Dataframe, earliest created_utc in this batch: 1661366917
Batch 14 scraped into Dataframe, earliest created_utc in this batch: 1661120901
Batch 15 scraped into Dataframe, earliest created_utc in this batch: 1660852649
Batch 16 scraped into Dataframe, earliest created_utc in this batch: 1660583579
Batch 17 scraped into Dataframe, earliest created_utc in this batch: 1660351973
Batch 18 scraped into Dataframe, earliest created_utc in this batch: 1660129461
Batch 19 scraped into Dataframe, earliest created_utc in this batch: 1659907392
Batch 20 scraped into Dataframe, earliest created_utc in this batch: 1659638799
Batch 21 scraped into Dataframe, earliest created_utc in this batch: 1659412586
Batch 22 scraped into Dataframe, earliest created_utc in this batch: 1659168889
Batch 23 scraped into Dataframe, earliest created_utc in this batch: 1658877863
Batch 24 scraped into Dataframe, earliest created_utc in this batch: 1658675944
Batch 25 scraped into Dataframe, earliest created_utc in this batch: 1658646817
Batch 26 scraped into Dataframe, earliest created_utc in this batch: 1658411638
Batch 27 scraped into Dataframe, earliest created_utc in this batch: 1658187019
Batch 28 scraped into Dataframe, earliest created_utc in this batch: 1657986673
Batch 29 scraped into Dataframe, earliest created_utc in this batch: 1657757787
Batch 30 scraped into Dataframe, earliest created_utc in this batch: 1657463750
Batch 31 scraped into Dataframe, earliest created_utc in this batch: 1657232954
Batch 32 scraped into Dataframe, earliest created_utc in this batch: 1656962648
Batch 33 scraped into Dataframe, earliest created_utc in this batch: 1656746022
Batch 34 scraped into Dataframe, earliest created_utc in this batch: 1656542671
Batch 35 scraped into Dataframe, earliest created_utc in this batch: 1656275474
Batch 36 scraped into Dataframe, earliest created_utc in this batch: 1656036990
Batch 37 scraped into Dataframe, earliest created_utc in this batch: 1655778845
Batch 38 scraped into Dataframe, earliest created_utc in this batch: 1655539801
Batch 39 scraped into Dataframe, earliest created_utc in this batch: 1655265913
Batch 40 scraped into Dataframe, earliest created_utc in this batch: 1655010663
Batch 41 scraped into Dataframe, earliest created_utc in this batch: 1654732680
Batch 42 scraped into Dataframe, earliest created_utc in this batch: 1654499996
Batch 43 scraped into Dataframe, earliest created_utc in this batch: 1654182255
Batch 44 scraped into Dataframe, earliest created_utc in this batch: 1653944179
Batch 45 scraped into Dataframe, earliest created_utc in this batch: 1653698729
Batch 46 scraped into Dataframe, earliest created_utc in this batch: 1653427601
Batch 47 scraped into Dataframe, earliest created_utc in this batch: 1653170101
Batch 48 scraped into Dataframe, earliest created_utc in this batch: 1652891423
Batch 49 scraped into Dataframe, earliest created_utc in this batch: 1652602704
Batch 50 scraped into Dataframe, earliest created_utc in this batch: 1652280283
Batch 51 scraped into Dataframe, earliest created_utc in this batch: 1651989027
Batch 52 scraped into Dataframe, earliest created_utc in this batch: 1651730521
Batch 53 scraped into Dataframe, earliest created_utc in this batch: 1651493550
Batch 54 scraped into Dataframe, earliest created_utc in this batch: 1651236361
Batch 55 scraped into Dataframe, earliest created_utc in this batch: 1650979790
Batch 56 scraped into Dataframe, earliest created_utc in this batch: 1650771268
Batch 57 scraped into Dataframe, earliest created_utc in this batch: 1650626181
Batch 58 scraped into Dataframe, earliest created_utc in this batch: 1650508798
Batch 59 scraped into Dataframe, earliest created_utc in this batch: 1650400049
Batch 60 scraped into Dataframe, earliest created_utc in this batch: 1650078502
Batch 61 scraped into Dataframe, earliest created_utc in this batch: 1649787986
Batch 62 scraped into Dataframe, earliest created_utc in this batch: 1649539742
Batch 63 scraped into Dataframe, earliest created_utc in this batch: 1649241841
Batch 64 scraped into Dataframe, earliest created_utc in this batch: 1648922033
Batch 65 scraped into Dataframe, earliest created_utc in this batch: 1648646007
Batch 66 scraped into Dataframe, earliest created_utc in this batch: 1648316183
Batch 67 scraped into Dataframe, earliest created_utc in this batch: 1648076394
Batch 68 scraped into Dataframe, earliest created_utc in this batch: 1647838974
Batch 69 scraped into Dataframe, earliest created_utc in this batch: 1647640296
Batch 70 scraped into Dataframe, earliest created_utc in this batch: 1647424083
Batch 71 scraped into Dataframe, earliest created_utc in this batch: 1647133065
Batch 72 scraped into Dataframe, earliest created_utc in this batch: 1646858878
Batch 73 scraped into Dataframe, earliest created_utc in this batch: 1646625654
Batch 74 scraped into Dataframe, earliest created_utc in this batch: 1646386730
Batch 75 scraped into Dataframe, earliest created_utc in this batch: 1646143768
Batch 76 scraped into Dataframe, earliest created_utc in this batch: 1646027632
Batch 77 scraped into Dataframe, earliest created_utc in this batch: 1645811238
Batch 78 scraped into Dataframe, earliest created_utc in this batch: 1645523052
Batch 79 scraped into Dataframe, earliest created_utc in this batch: 1645274601
Batch 80 scraped into Dataframe, earliest created_utc in this batch: 1645032612
Batch 81 scraped into Dataframe, earliest created_utc in this batch: 1644788812
Batch 82 scraped into Dataframe, earliest created_utc in this batch: 1644575597
Batch 83 scraped into Dataframe, earliest created_utc in this batch: 1644320210
Batch 84 scraped into Dataframe, earliest created_utc in this batch: 1644156649
Batch 85 scraped into Dataframe, earliest created_utc in this batch: 1644100183
Batch 86 scraped into Dataframe, earliest created_utc in this batch: 1643889511
Batch 87 scraped into Dataframe, earliest created_utc in this batch: 1643619469
Batch 88 scraped into Dataframe, earliest created_utc in this batch: 1643405048
Batch 89 scraped into Dataframe, earliest created_utc in this batch: 1643218884
Batch 90 scraped into Dataframe, earliest created_utc in this batch: 1642952039
Batch 91 scraped into Dataframe, earliest created_utc in this batch: 1642707013
Batch 92 scraped into Dataframe, earliest created_utc in this batch: 1642451412
Batch 93 scraped into Dataframe, earliest created_utc in this batch: 1642265235
Batch 94 scraped into Dataframe, earliest created_utc in this batch: 1642018953
Batch 95 scraped into Dataframe, earliest created_utc in this batch: 1641787163
Batch 96 scraped into Dataframe, earliest created_utc in this batch: 1641555999
Batch 97 scraped into Dataframe, earliest created_utc in this batch: 1641304820
Batch 98 scraped into Dataframe, earliest created_utc in this batch: 1641119593
Batch 99 scraped into Dataframe, earliest created_utc in this batch: 1640912053
Batch 100 scraped into Dataframe, earliest created_utc in this batch: 1640720030

In [5]:
# Show the shape for both DisneyPlus & Netflix subreddit
print(f'The no. of rows,columns in DisneyPlus subreddit corpus is {dfdisney_raw.shape}.')
print(f'The no. of rows,columns in Netflix subreddit corpus is {dfnetflix_raw.shape}.')

The no. of rows,columns in DisneyPlus subreddit corpus is (14980, 5).
The no. of rows,columns in Netflix subreddit corpus is (14990, 5).

A total of 29970 posts were extracted from both `r/DisneyPlus` and `r/netflix` with a time frame spanning from Unix Epoch 1614041482 to 1664582340. Only `subreddit`, `title`, `selftext`, `is_video` and `created_utc` fields of the posts were extracted for modelling and analysis.

In [6]:
# Combine both dataframes into 1 for EDA & Modelling

df_raw = pd.concat([dfdisney_raw, dfnetflix_raw])

### Export the dataframe

In [7]:
import os
# create new folder named 'data' if it does not exist
if not os.path.exists('../data'):
    os.makedirs('../data')
    
# Export the dataframes into csv files    
df_raw.to_csv('../data/df_raw.csv', index=False)

**Please proceed to Book 2 for Data Cleaning & EDA.**